body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav__list,
.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav__item {
  display: inline;
  width: 60px;
  padding: 15px;
  padding-right: 30px;
  float: right;
}

.main * {
  text-align: center;
}

.main__hero {
  padding-top: 109px;
}

.form__group {
  display: block;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
}

.form__input input {
  width: 350px;
  border: none;
  height: 38px;
  margin-top: 5px;
}

.main__submit button {
  border: none;
  background: #f2f2f2;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
}

/* default footer item behaviour */
.footer__item {
  display: inline;
  padding: 15px;
  float: right;
}

/* override default alignment for first group of items */
footer div:first-child ul .footer__item {
  float: left;
}
